.DS_Store
.env
*.pyc
__pycache__

# Airflow Itens
airflow/logs/*
airflow/plugins/*

# Minio Data
minio/data/*
minio/credentials/*

# Metabase Data
metabase/metadata/*

# DuckDB
duckdb/*

# Data Drop
datadrop/uploads/*

# Testes
notebooks/temp/*